.button-submit{
    width: 100px;  
    position: fixed;
    right: 5%;
    bottom: 5%;
    background-color: black;
    border-radius: 4em;
    color: white;
    padding: 0.8em 1.8em;
    cursor:pointer;
    user-select:none;
    text-align: center;
    text-decoration: none;
}

.file-input{
    display: none;
}

.multi-dropdown{ 
    padding-left: 140px;
}
.prueba{
    margin-top: 25px;
}